/* A set of premade colors, pick your poison */
:root {
  --color-primary: rgb(64, 123, 234);
  --color-secondary: rgb(255, 116, 66);
  --color-accent: rgb(162, 72, 165);
  --color-gray: rgb(40, 40, 45);
  --color-white: #f0f0f0;
  --color-black: #0f0f0f;
}

.bg-primary {
  background-color: var(--color-primary);
}
.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
.text-secondary {
  color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}
.text-accent {
  color: var(--color-accent);
}

.bg-gray {
  background-color: var(--color-gray);
}
.text-gray {
  color: var(--color-gray);
}

.bg-white {
  background-color: var(--color-white);
}
.text-white {
  color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}
.text-black {
  color: var(--color-black);
}
