/* A set of premade colors, pick your poison */
:root {
  --color-primary: rgb(64, 123, 234);
  --color-secondary: rgb(245, 231, 45);
  --color-accent: rgb(162, 72, 165);
  --color-gray-dark: rgb(220, 220, 220);
  --color-gray-light: rgb(237, 237, 237);
  --color-white: #ffffff;
  --color-black: #0f0f0f;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}

.bg-gray-dark {
  background-color: var(--color-gray-dark);
}

.text-gray-dark {
  color: var(--color-gray-dark);
}

.bg-white {
  background-color: var(--color-white);
}

.text-white {
  color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.text-black {
  color: var(--color-black);
}